/*
potential color scheme:
    bg: #272727
    fg: #747474
    fga: #ff652f
    fgb: #ffe400
    fgc: #14a76c

2:
    #1f2605
    #1f6521
    #53900f
    #a4a71e
    #d6ce15

3:
    #14a76c
    #45cb85
    #12e07d
    #04fc84
*/

body {
    background-color: #272727;
    color: white;
    font-weight: bold;
    font-size: large;
    margin: 0;
}

h1 {
    padding-left: 10px;
}

#home_cost {
    background: -webkit-linear-gradient(
        #45cb85, #14a76c
    );
    /* background-image: linear-gradient(
        #45cb85, #14a76c
    ); */
}

#other_costs {
    background: -webkit-linear-gradient(
        #12e07d, #45cb85
    );
}

#debt {
    background: -webkit-linear-gradient(
        #04fc84, #12e07d
    );
}

#output {
    color: white;
    padding-left: 10px;
}

#calculator {
    color: #272727
}

.cost_section {
    padding: 10px;
}

.indent {
    padding-left: 20px;
}

input[type=number] {
    background-color: #adffcd;
    padding: 2px;
    border: white solid 2px;
    border-radius: 5px;
    margin: 0px 3px 3px 3px;
    color: #272727;
}