/*
potential color scheme:
    bg: #272727
    fg: #747474
    fga: #ff652f
    fgb: #ffe400
    fgc: #14a76c

2:
    #1f2605
    #1f6521
    #53900f
    #a4a71e
    #d6ce15
*/

body {
    background-color: #272727;
    color: white;
}