{% extends 'template.html' %}


{% block title %}Image Filter Webapp{% endblock %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/projects.css') }}">
{% endblock %}


{% block body %}
<div id="title">
    <b>Image Filter Webapp</b>
    <a
        href="https://github.com/RCD2020/image-filter-webapp"
        target="_blank">
        <i class="devicon-github-original-wordmark"></i>
    </a>
</div>
<hr>

<div id="present">
    <h1>Presentation</h1>
    <div id="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/xd1S5BldGhg?si=5Ens5MtGDlr0PvBM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>
<hr>

<div id="content">
    <img
        src="{{ url_for('static', filename='images/projects/image-filter-webapp.png') }}"
        alt="image filter webapp thumbnail"
    >
    <p>
        The Image Filter Webapp was my final project for
        <a href="/education#cs50x">Harvard's CS50x</a>. Inspired by a
        previous assignment where I wrote image filters using C, I decided
        to make a web application where any user can upload an image and
        write code to filter it, without having to go through the process of
        figuring out how to open, write, and save an image. All users have
        to do is upload an image of their choice, and then they will be
        taken to a page where they can write code the interacts with the
        image's pixel values.
    </p>

    <h3>Details</h3>
    <p>
        On the main page of the site, you can upload your own image. In the
        background, the app will check that it is a valid png file, and if
        so, it will save it to the server and redirect you to a page where
        you can start writing filter code.
    </p>
    <p>
        There are a few examples of filters, e.g. grayscale, sepia tone, and
        sobel's edge detection, but ultimately the user is free to input
        write whatever they want. The language is my own custom make and is
        somewhat of a crossover of C and Python. It's not terribly well put
        together nor is it efficient, however I went with the choice to
        write a programming language for the experience more than anything
        else, and learned lots from it.
    </p>
    <p>
        Once the user is satisfied with their code, they can go ahead and
        filter the image, where their code will be sent through my
        interpreter, and applied to the image, where from there the user
        will be redirected to a page containing their filtered image.
    </p>
</div>
{% endblock %}