header, footer {
    margin: -8px;
    background-color: #cccccc;
    padding: 4px;
    text-align: center;
}

.commentbox {
    background-color: #ffeeaa;
    margin: 0 0 15px 0;
    display: inline-block;
}

.commenttext {
    margin: 8px 0 8px 10px;
    padding: 0px 5px 0px 10px;
    border-left: 5px solid #ca7;
}

.context {
    text-align: center;
    background-color: #cef;
    border-radius: 25px;
    padding: 10px;
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
    color: #444;
}