html {
    font-family: Arial, Helvetica, sans-serif;
}

.about-me {
    background-color: #f7f7f7;
    padding: 1px 10px 30px 10px;
}

.about-me a {
    background-color: #8bf;
    border: none;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 12px;
    transition: background-color 0.3s;
}

.about-me a:hover {
    background-color: #6af;
}

.about-me h2 {
    color: #333;
}

.about-me p {
    color: #666;
}

.featured {
    padding: 20px;
}

.featured h2 {
    margin-bottom: 30px;
    color: #333;
}

a {
    text-decoration: none;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.card {
    background-color: #f7f7f7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5%;
    border-radius: 10px;
    transition: background-color 0.3s;
    width: 45%;
    margin-bottom: 2%;
}

.card:hover {
    background-color: #eaeaea;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    color: #333;
}

.card p {
    color: #666
}

.sidenav {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #6af;
    overflow-x: hidden;
    color: #fff;
    padding-left: 10px;
}

.sidenav a {
    color: #fff;
    font-weight: bold;
}

.main {
    margin-left: 188px;
}

#sidecont {
    font-size: x-large;
}

#sidecont img {
    border-radius: 100%;
    width: 80%;
    margin-left: 12px;
    display: block;
    padding-left: 0;
    border: 3px solid #fff;
}

#sidecont a {
    line-height: 1.5;
}

#sidecont a:hover {
    color: #ddd;
    transition: color 0.3s;
}

#sidecont svg {
    max-height: 22px;
    max-width: 22px;
}

.material-icons {
    visibility: hidden;
    position: absolute;
}

@media only screen and (max-width: 625px) {
    .sidenav {
        width: 100%;
        position: static;
        z-index: 0;
        top: auto;
        left: auto;
        overflow-x: auto;
        text-align: center;
        padding-left: 0px;
    }

    body {
        margin: 0;
        padding: 0;
    }

    .sidenav h2 {
        padding: 0px;
    }

    #sidecont {
        display: none;
        padding-bottom: 10px;
    }

    #sidecont img {
        width: 25%;
        margin-left: auto;
        margin-right: auto;
    }

    .main {
        margin: 8px;
    }

    .material-icons {
        font-size: 48px;
        left: 20px;
        top: 20px;
        border: 1px solid #fff;
        border-radius: 5px;
        visibility: visible;
        cursor: pointer;
    }
}